header.header
  .header__wrap
    .header__logo
      img(src="images/main/logo.png")
    //.header__buy
    //  a(href="#").header__buy-btn Создать сайт от 100$
    //  .header__buy-descr Ваш будущий сайт в надежных руках профессионалов
    //.header__buy-descr-mobile Ваш будущий сайт в надежных руках профессионалов
    .header__info
      .header__elem#email
        p.header__descr-email 2stepswebstudio@gmail.com
        a(href="mailto:2stepswebstudio@gmail.com").header__email
          i.fas.fa-envelope
      .header__elem#phone
        p.header__descr-phone +380953534649
        a(href="tel:+380953534649").header__phone
          i.fas.fa-phone

