section.about
  .about__wrapper
    .about__team
      .about__elem.about__elem--den
        .about__img
          img(src="images/about/den.jpg")
        .about__info.about__info--den
          .about__info-title
            | Денис
          .about__info-descr
            | Дизайнер, опыт работы более 5 лет.
            | Грамотный дизайн рекламы, должен привлекать и приводить новых клиетов к Вам.
            | Именно это моя цель!
      .about__elem.about__elem--julian
        .about__img
          img(src="images/about/julian.jpg")
        .about__info.about__info--julian
          .about__info-title
            | Юлиан
          .about__info-descr
            | Front-end разработчик, опыт работы более 2 лет.
            | Разработка сайтов и веб приложений любой сложности,
            | делаю качественный продукт для Вашего бизнеса!
    .about__description-wrap
      .about__gradient
      .about__description
        | Мы не просто команда профессионалов - мы друзья с детства, именно этот факт
        | помогает в работе понимать друг друга с полуслова.
        | Это важно, ведь для заказчика необходимо добиться максимум от исполнителей его будущего сайта.
        | Кто, как не друзья, поймут и исполнят эту важную задачу?
        | Добро пожаловать
  .about__logo
    img(src="images/about/logo.png")

