section.portfolio
  .portfolio__slider.swiper-container
    .portfolio__wrap.swiper-wrapper
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/spa.png").portfolio__img
          img(src="images/portfolio/spa.png")
          .portfolio__zoom
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/health.png").portfolio__img
          img(src="images/portfolio/health.png")
          .portfolio__zoom
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/converse.png").portfolio__img
          img(src="images/portfolio/converse.png")
          .portfolio__zoom
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/spa.png").portfolio__img
          img(src="images/portfolio/spa.png")
          .portfolio__zoom
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/health.png").portfolio__img
          img(src="images/portfolio/health.png")
          .portfolio__zoom
      .portfolio__slide.swiper-slide
        a(href="images/portfolio/converse.png").portfolio__img
          img(src="images/portfolio/converse.png")
          .portfolio__zoom
  .swiper-button-prev.portfolio__prev
  .portfolio__next-bg
  .swiper-button-next.portfolio__next
  .portfolio__prev-bg

