footer.footer
  .footer__wrap
    a(href="#").footer__elem
      i.fas.fa-phone
    a(href="#").footer__elem
      i.fas.fa-envelope
    a(href="#").footer__elem
      i.fab.fa-facebook-f
  .footer__copyright
    | © 2020 Создание сайтов в России и Европе. All Rights Reserved. 2steps
