footer.footer
  .footer__wrap
    a(href="tel:+380953534649").footer__elem
      i.fas.fa-phone
    a(href="mailto:2stepswebstudio@gmail.com").footer__elem
      i.fas.fa-envelope
    a(href="https://www.facebook.com/profile.php?id=100021446761416" target="_blank").footer__elem
      i.fab.fa-facebook-f
  .footer__copyright
    | © 2020 Создание сайтов в России и Европе. All Rights Reserved. 2steps
